<div class="card mb-3 shadow-sm">
    <div class="first">
        <div class="img"></div>
        <div class="title">
            <span>Afonso<br>Pinto</span>
        </div>
    </div>
    <div class="user_info">
        <span><b>Email</b></span>
        <ul>
            <li>
                <img src="assets/icons/mail-line.svg">
                <span>test@email.com</span>
            </li>
            <li><img src="assets/icons/mail-line.svg">test@email.com</li>
            <li><img src="assets/icons/mail-line.svg">test@email.com</li>
        </ul>
        <span><b>Email</b></span>
        <ul>
            <li>
                <img src="assets/icons/phone-line.svg">
                <span>123-456-789</span>
            </li>
            <li>
                <img src="assets/icons/phone-line.svg">
                <span>123-456-789</span>
            </li>
            <li>
                <img src="assets/icons/phone-line.svg">
                <span>123-456-789</span>
            </li>
        </ul>
    </div>
    <a class="edit" routerLink="/edit-contact">EDIT</a>
</div>