.card {
    width: 280px;
    height: 350px;
    padding: 20px;
    .first {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .img {
        width: 81px;
        height: 100px;
        background: grey;
      }
  
      .title {
        font-size: 24px;
        line-height: 29px;
        padding-left: 20px;
      }
    }
    .user_info {
        padding-top: 20px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0  0 20px 0;
        li {
          display: flex;
          align-items: center;
          img {
            height: 16px;
            width: 16px;
            margin-right: 10px;
          }
          span {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    .edit{
        position: absolute;
        bottom: 23px;
        right: 16px;
    }
  }
  