@import './../../app.component.scss';
@import './../../../assets/styles/colors.scss';
.navbar {
  height: 70px;
  width: 1440px;
  background-color: $color-white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 34px;
}
