<div class="add-contact-page">
  <a class="link" routerLink="/contacts">Return to Contacts</a>
  <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
    <h1 class="title">Edit Contact</h1>
    <button class="button red" (click)="submit()" [disabled]="form.invalid">Save</button>
  </div>
  <div class="row justify-content-center">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="user-img d-flex justify-content-center align-items-center mb-4"><img src="./assets/icons/image.svg">
        Add photo</div>
      <div class="form-row mb-1">
        <div class="form-group col-md-6">
          <input class="input" formControlName="firstName" placeholder="First name">
          <p class="text-danger"
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required">
            First name is required.
          </p>
        </div>
        <div class="form-group col-md-6">
          <input class="input" formControlName="lastName" placeholder="Last name">
          <p class="text-danger"
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required">
            Last name is required.
          </p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div formArrayName="emails">
            <div *ngFor="let email of emailsFormGroup.controls; let i = index;">
                <div class="add-input-field">
                  <input class="input mb-4" [formControlName]="i" placeholder="Email">
                  <span class="remove-field" (click)="removeEmail(i)"><img src="./assets/icons/x.svg"> </span>
                  <p class="text-danger"
                    *ngIf="email.touched && email.hasError('required')">
                    Email is required!
                  </p>
              </div>
            </div>
          </div>
          <span class="actions d-flex align-items-center" (click)="addEmail()"><img src="./assets/icons/plus.svg"> Add
            email</span>
        </div>
        <div class="form-group col-md-6">
          <div formArrayName="phones">
              <div *ngFor="let phone of phonesFormGroup.controls; let i = index;">
                  <div class="add-input-field">
                    <input class="input mb-4" [formControlName]="i" placeholder="Phone">
                    <span class="remove-field" (click)="removePhone(i)"><img src="./assets/icons/x.svg"> </span>
                    <p class="text-danger"
                      *ngIf="phone.touched && phone.hasError('required')">
                      Phone is required!
                    </p>
                </div>
              </div>
            <!-- <div *ngFor="let phone of phonesFormGroup.controls; let i = index;">
              <div [formGroupName]="i">
                <div class="add-input-field">
                  <input class="input mb-4" [formControlName]="i" placeholder="Phone">
                  <span class="remove-field" (click)="removePhone(i)"><img src="./assets/icons/x.svg"> </span>
                  <p class="text-danger"
                  *ngIf="phone.touched && phone.hasError('required')">
                  Email is required!
                </p>
                </div>
              </div>
            </div> -->
          </div>
          <span class="actions" (click)="addPhone()"><img src="./assets/icons/plus.svg"> Add phone number</span>
        </div>
      </div>
      <button type="submit" style="display:none" [disabled]="form.invalid">hidden submit</button>
    </form>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="button black" data-toggle="modal" data-target="#exampleModal">Delete </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class="d-flex flex-column align-items-center mb-5">
          <h1 class="">Delete contact</h1>
          <p>Are you sure you want to pemanently delete contact?</p>
        </div>
        <div class="d-flex justify-content-center">
          <div class="button white mr-5" data-dismiss="modal">Cancel</div>
          <div class="button red" data-dismiss="modal" (click)="deleteContact()">Save</div>
        </div>
      </div>
    </div>
  </div>
</div>